Repository tatyquebralayout/n8n-Doc-PT-BR: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-sensitive-content, eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks para segurança da documentação n8n PT-BR
repos:
  # Verificações básicas
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Detecção de secrets usando Gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  # Verificação de credenciais expostas personalizada
  - repo: local
    hooks:
      - id: check-sensitive-content
        name: Verificar conteúdo sensível na documentação
        entry: node scripts/fix-sensitive-content.js --check
        language: node
        files: \.(md|mdx)$
        always_run: false

  # Validação de Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        args: ['--config', '.markdownlint.yml']
        files: \.(md|mdx)$

  # Validação de links (opcional - pode ser lento)
  # - repo: https://github.com/tcort/markdown-link-check
  #   rev: v3.12.2
  #   hooks:
  #     - id: markdown-link-check
  #       args: ['-c', '.markdown-link-check.json']
  #       files: \.(md|mdx)$

  # ESLint para arquivos TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        files: \.(js|jsx|ts|tsx)$
        require_serial: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript Compiler
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        require_serial: false
        pass_filenames: false

Corrige script de verificação de segurança e workflow
  .github/workflows/code-quality.yml
Due: none

Corrige erro de build desabilitando plugin de busca local temporariamente
  docusaurus.config.ts
Due: eslint, tsc

Fix CI workflow scripts and simplify quality validation
  .github/workflows/ci.yml
Due: none

Add security script and fix sensitive content
  docs/embed/gerenciamento/gerenciar-workflows.mdx
  docs/integracoes/builtin-nodes/http-requests/webhook.md
  docs/integracoes/builtin-nodes/utilities/conversion.mdx
  docs/integracoes/builtin-nodes/utilities/validation.mdx
  docs/integracoes/trigger-nodes/time-based/manual-trigger.mdx
  docs/usando-n8n/credenciais/seguranca-jwt.mdx
  docs/usando-n8n/credenciais/treinamento-seguranca.mdx
  docs/usando-n8n/workflows/workflow-id.md
Due: check-sensitive-content

feat: implementar monitoramento de segurança e dependabot
  .github/dependabot.yml
  .github/workflows/code-quality.yml
  .github/workflows/security-scan.yml
  package.json
Due: none

fix: ajustar rigorosidade da análise de segurança para projeto de documentação
  .github/dependabot.yml
  .github/workflows/code-quality.yml
  .github/workflows/security-scan.yml
Due: none

Atualizar configuração do Dependabot
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix: corrigir links para status-plugins-code.mdx
  docs/integracoes/app-nodes/communication/gmail.mdx
  docs/integracoes/app-nodes/communication/slack.mdx
  docs/logica-e-dados/expressoes.mdx
Due: check-sensitive-content

Atualizações na documentação
  docs/advanced-ai/exemplos-casos/chatbot-suporte.mdx
  docs/advanced-ai/exemplos-casos/classificacao-dados.mdx
  docs/advanced-ai/exemplos-casos/ferramentas-ia.mdx
  docs/advanced-ai/exemplos-casos/geracao-conteudo.mdx
  docs/advanced-ai/exemplos-casos/rag-com-arquivos.mdx
  docs/embed/gerenciamento/white-labelling.mdx
  docs/logica-e-dados/data/agregacoes-estatisticas.mdx
  docs/logica-e-dados/data/otimizacao-performance.mdx
  docs/logica-e-dados/data/schema-preview.mdx
  docs/logica-e-dados/data/transformacoes-dados.mdx
  docs/logica-e-dados/flow-logic/index.mdx
  docs/usando-n8n/getting-started/index.mdx
  docusaurus.config.ts
Due: check-sensitive-content, eslint, tsc

fix(lint): correções de ESLint e TypeScript (#90)
  docs/logica-e-dados/data/index.mdx
  docs/logica-e-dados/index.mdx
  docs/primeiros-passos/index.mdx
  src/pages/index.tsx
  src/theme/Footer/index.tsx
  static/js/performance-metrics.js
Due: check-sensitive-content, eslint, tsc

chore: substituir emojis por IonicIcon e remover bandeira do título (#91)
  COMANDOS_BUSCA_RAPIDA.md
  SECURITY.md
  docs/advanced-ai/exemplos-casos/chatbot-suporte.mdx
  docs/advanced-ai/exemplos-casos/classificacao-dados.mdx
  docs/advanced-ai/exemplos-casos/index.mdx
  docs/api/conceitos/autenticacao.mdx
  docs/api/ferramentas/playground.mdx
  docs/cursos/cursos-em-video/curso-avancado.mdx
  docs/cursos/index.mdx
  docusaurus.config.ts
  src/components/README.md
  src/theme/Footer/index.tsx
Due: check-sensitive-content, eslint, tsc

docs(deploy): adicionar script deploy:pages e instruções de deploy para GitHub Pages (#92)
  README.md
  package.json
Due: check-sensitive-content

ci: desativar fail-fast na matriz (Node 18/20) para evitar cancelamentos prematuros (#94)
  .github/workflows/ci.yml
Due: none

Ci/remove node18 matrix (#95)
  .github/workflows/ci.yml
  .nvmrc
  README.md
  docs/contribuir/esta-documentacao/nodejs-compatibility.md
  package.json
Due: check-sensitive-content

fix: finalizar configuração Node 20.x - compatibilidade completa (#96)
  README.md
Due: check-sensitive-content

ci: restringir deploy a pushes no repo principal (evita falhas no fork)
  .github/workflows/ci.yml
Due: none

ci: tornar deploy tolerante (continue-on-error) e restrito ao repo principal
  .github/workflows/ci.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

fix: update Node.js engine requirement to >=20.0
  package-lock.json
Due: none
